<footer class="footer ">
    <div class="container-fluid">


        <div class="copyright d-flex align-items-center justify-content-around">
            <ul>
                <li>
                    <a href="https://www.unipi.gr/unipi/el/">
                        University of piraeus
                    </a>
                </li>
                <li>
                    <a href="https://www.cs.unipi.gr/index.php?lang=el">
                        Computer Science Department
                    </a>
                </li>
                <li>
                    <a href="https://gunet2.cs.unipi.gr/">
                        Gunet2
                    </a>
                </li>
                <li>
                    <a href="https://github.com/nickija">
                        Github
                    </a>
                </li>
            </ul>
            <span>
                &copy;
                {{test | date: 'yyyy'}}, made by
                <a href="https://github.com/nickija" target="_blank">Nikolaos Alvanos</a>, supervised by Efthimios Alepis.
            </span>

        </div>
    </div>
</footer>
