<div class="row">
    <div class="col-md-12">
        <table>
            <tr *ngFor="let user of this.data ">
                <td>
                    {{user.firstName}}
                </td>
                <td>
                    {{user.lastName}}
                </td>
                <td>
                    {{user.username}}
                </td>
                <td>
                    {{user.updatedAt | date}}
                </td>
                <td>
                    {{user.createdAt | date}}
                </td>
            </tr>
        </table>
    </div>
</div>