<div class="main-content">
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-12">
    
    <ngx-datatable
      class="material"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="ColumnMode"
      [headerHeight]="50"
      [footerHeight]="50"
      rowHeight="auto"
      [externalPaging]="true"
      [count]="total"
      [offset]="lookup.start"
      [limit]="lookup.limit"
      (page)="onPageLoad($event)"
      (activate)="navigateToPreview($event)"
    >
    </ngx-datatable>
  </div>
</div>
  </div>
