<div class="main-content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-8">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                         <h2>Applicant </h2>
                                        
                    </div>
                    <div class="card-body">
                          <h4 class="card-title">First Name:</h4>
                          <p class="card-category"> kitharoumpa</p>
                          <p></p>
                          <h4 class="card-title">Latst Name:</h4>
                          <p class="card-category"> expert</p>
                          <p></p>
                          <h4 class="card-title">Education:</h4>
                          <p class="card-category"> prograssive metal</p>
                          <p></p>
                          <h4 class="card-title">Area:</h4>
                          <p class="card-category"> athens</p>
                          <div class ="col-md-2 float-right"></div>
                          <button mat-raised-button (click)="accept()" class="btn btn-success pull-right float-right">Accept </button>
          
                          <button mat-raised-button (click)="reject()" class="btn btn-danger pull-right float-right">Reject </button>
                          </div>
          
                    </div>                   
                    
                </div>
            
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                    <h3 >Applicant's instruments</h3>
                </div>
                    <div class="card-body">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>Instrument type</th>
                            <th>Years experience</th>
                            <th>Skill</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>bass</td>
                                <td>3</td>
                                <td>beginner</td>
                                
                            </tr>
                            <tr>
                                <td>drums</td>
                                <td>8</td>
                                <td>expert</td>
                            
                            </tr>
                            <tr>
                                <td>guitar</td>
                                <td>2</td>
                                <td>beginner</td>
                                
                            </tr>
                            
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            
        </div>
            
            
    </div>
  </div>
  