<div class="main-content">
  <div class="container-fluid">
    <main role="main">

      <section  class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome to BandBuddy!</h1>
          <p class="lead text-muted">A whole world full of bands and musicians trying to discover each other is waiting for you!</p>
          <p class="lead">Please login or register in order to continue.</p>
          <p>
            <a class="btn btn-danger my-2" routerLink="/login" routerLinkActive="active">Login</a>
            <a class="btn btn-secondary my-2" routerLink="/user-form" routerLinkActive="active">Register</a>
          </p>


        </div>

      </section>


</main>

</div>
</div>