<div class="main-content">
  <div class="container-fluid">
      <div class="row main-middle">
          <div class="col-md-6">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">User Profile</h4>
                      <p class="card-category">Edit your profile</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <!-- <div class="row"> -->
                              <div class="col-md-6 offset-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username" [formControl]="userNameFormControl" [(ngModel)]="userNameTextBox">
                                    <mat-error *ngIf="userNameFormControl.hasError('required')">
                                      UserName is <strong>required</strong>
                                    </mat-error>
                                    <mat-icon matSuffix>person</mat-icon>

                                  </mat-form-field>
                              </div>
                              <div class="col-md-6  offset-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Password" [type]="showHide" [formControl]="passWordFormControl" [(ngModel)]="passWordTextBox">
                                    <mat-error *ngIf="passWordFormControl.hasError('required')">
                                      Password is <strong>required</strong>
                                    </mat-error>
                                    <mat-icon matSuffix (click)="toggleShow()" class="passwordInput">{{visibilityPassword}}</mat-icon>
                                  </mat-form-field>
                              </div>
                          <!-- </div>
                          <div class="row"> -->
                              <div class="col-md-6  offset-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="First Name" type="text" [formControl]="firstNameFormControl" [(ngModel)]="firstNameTextBox">
                                  <mat-error *ngIf="firstNameFormControl.hasError('required')">
                                    First Name is <strong>required</strong>
                                  </mat-error>
                                  <mat-icon matSuffix>edit</mat-icon>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6  offset-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text" [formControl]="lastNameFormControl" [(ngModel)]="lastNameTextBox">
                                  <mat-error *ngIf="lastNameFormControl.hasError('required')">
                                    Last Name is <strong>required</strong>
                                  </mat-error>
                                  <mat-icon matSuffix>edit</mat-icon>

                                </mat-form-field>
                              </div>
                          <!-- </div> -->
                          <div class="col-md-12 d-flex justify-content-end">
                            <button mat-raised-button (click)="edit()" class="btn btn-danger">Submit</button>
                          </div>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
