<div class="main-content">
  <div class="container-fluid">
    <div class="row main-middle">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Registration</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="card-body">
            <form>
              <div class="col-md-6 offset-md-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="First Name" type="text" [formControl]="firstNameFormControl">
                  <mat-error *ngIf="firstNameFormControl.hasError('required')">
                    First Name is <strong>required</strong>
                  </mat-error>
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-md-6 offset-md-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Last Name" type="text" [formControl]="lastNameFormControl">
                  <mat-error *ngIf="lastNameFormControl.hasError('required')">
                    Last Name is <strong>required</strong>
                  </mat-error>
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-md-6 offset-md-3">
                <mat-form-field>
                  <input matInput placeholder="User name" [formControl]="userNameFormControl">
                  <mat-error *ngIf="userNameFormControl.hasError('required')">
                    User name is <strong>required</strong>
                  </mat-error>
                  <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-md-6 offset-md-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" [type]="showHide" [formControl]="passWordFormControl">
                  <mat-error *ngIf="passWordFormControl.hasError('required')">
                    Password is <strong>required</strong>
                  </mat-error>
                  <mat-icon matSuffix (click)="toggleShow()" class="passwordInput">{{visibilityPassword}}</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-md-12  d-flex align-items-center justify-content-between">
                <button mat-raised-button (click)="goBack()">Back</button>
                <button mat-raised-button class="mt-4" (click)="register()"
                class="btn btn-danger pull-right">Register</button>
              </div>

              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>