<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">User Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <!-- <div class="row"> -->
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username" [formControl]="userNameFormControl">
                                    <mat-error *ngIf="userNameFormControl.hasError('required')">
                                      UserName is <strong>required</strong>
                                    </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Password" type="password" [formControl]="passWordFormControl">
                                    <mat-error *ngIf="passWordFormControl.hasError('required')">
                                      Password is <strong>required</strong>
                                    </mat-error>
                                  </mat-form-field>
                              </div>
                          <!-- </div>
                          <div class="row"> -->
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Fist Name" type="text" [formControl]="firstNameFormControl">
                                  <mat-error *ngIf="firstNameFormControl.hasError('required')">
                                    First Name is <strong>required</strong>
                                  </mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text" [formControl]="lastNameFormControl">
                                  <mat-error *ngIf="lastNameFormControl.hasError('required')">
                                    Last Name is <strong>required</strong>
                                  </mat-error>
                                </mat-form-field>
                              </div>
                          <!-- </div> -->
                          <button mat-raised-button (click)="register()" class="btn btn-danger pull-right">Create Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
