<div class="main-content">
  <div class="container-fluid">
      <div class="row main-middle">
          <div class="col-md-6 ">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Login Form</h4>
                      <p class="card-category">Provide credentials to enter:</p>
                  </div>
                  <div class="card-body">
                      <form (keyup.enter)="login()">
                          <!-- <div class="row"> -->
                              <div class="col-md-6 offset-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username" [formControl]="userNameFormControl">
                                    <mat-error *ngIf="userNameFormControl.hasError('required')">
                                      User name is <strong>required</strong> to log in
                                    </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6 offset-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Password" type="password" [formControl]="passWordFormControl">
                                    <mat-error *ngIf="passWordFormControl.hasError('required')">
                                      Password is <strong>required</strong> to log in
                                    </mat-error>
                                  </mat-form-field>
                              </div>
                

                      </form>
                      <div class="col-md-12  d-flex align-items-center justify-content-between">
                        <button mat-raised-button (click)="$event.stopPropagation();goBack()">Back</button>
                        <button mat-raised-button (click)="login()" class="btn btn-danger">Login
                          <mat-icon class="ml-2">login</mat-icon>
                        </button>
                      </div>
                      <div class="clearfix"></div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
