<div class="main-content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                         <h2>Band </h2>
                                    
                    </div>
                    <div class="card-body">
                          <h4 class="card-title">Band Name:</h4>
                          <p class="card-category"> {{itemModel.bandName}}</p>
                          <p></p>
                          <h4 class="card-title">Genre:</h4>
                          <p class="card-category"> {{itemModel.genre}}</p>
                          <p></p>
                          
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Date Created: {{itemModel.createdAt | date}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 d-flex align-items-center justify-content-between">
                                <button routerLink="/band" routerLinkActive="active" mat-stroked-button>Back</button>
                                <div class="d-flex align-items-center">
                                    <button mat-raised-button (click)="bandJobPostings()" class="btn btn-info ">Show Band's Job postings</button>

                                    <button mat-raised-button (click)="edit()" class="btn btn-warning ">Edit Band</button>
                                </div>
                                
                            </div>
                        </div>

                      
                    </div>
                   
                         
                    
                </div>
            </div>
            
    </div>
  </div>
  