<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Band Profile</h4>
                      <p class="card-category">Complete your band profile</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <!-- <div class="row"> -->
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Band Name" [formControl]="bandNameFormControl">
                                    <mat-error *ngIf="bandNameFormControl.hasError('required')">
                                      Band Name is <strong>required</strong>
                                    </mat-error>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Genre summary" type="text" [formControl]="genreFormControl">
                                    <mat-error *ngIf="genreFormControl.hasError('required')">
                                      Genre summary is <strong>required</strong>
                                    </mat-error>
                                  </mat-form-field>
                              </div>
                          
                          <button mat-raised-button (click)="register()" class="btn btn-danger pull-right">Create Band</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
