<div class="main-content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                         <h2>Job Posting </h2>
                                        
                    </div>
                    <div class="card-body">
                          <h4 class="card-title">Instrument required:</h4>
                          <p class="card-category"> kitharoumpa</p>
                          <p></p>
                          <h4 class="card-title">Skill required:</h4>
                          <p class="card-category"> expert</p>
                          <p></p>
                          <h4 class="card-title">Genre:</h4>
                          <p class="card-category"> prograssive metal</p>
                          <p></p>
                          <h4 class="card-title">Area:</h4>
                          <p class="card-category"> athens</p>
                          
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> Date Posted:
                        </div>
                    </div>
                    <div >
                        <button mat-raised-button (click)="apply()" class="btn btn-warning pull-right float-right">Apply to Job posting</button>

                    </div>
                         
                    
                </div>
            </div>
            
    </div>
  </div>
  